<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/ DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<title>Where am i getting wasted today?</title>
	<link href="/stylesheet.css" media="all" rel="Stylesheet" type="text/css" />
	<script src='http://maps.google.com/maps?file=api&amp;v=2&amp;key=<%= GOOGLE_API_KEY %>' type='text/javascript'></script>
	<script src="/maps.js"></script>
	<script src="/prototype.js"></script>
	<script type="text/javascript">
  	$(document).observe("dom:loaded",function(){
			if(GBrowserIsCompatible()) {
				GoogleMap.initialize();
				window.setTimeout(function(){GoogleMap.addTweetMarkers(<%= @tweets.to_json %>)},0);
			}
		})
		$(document).observe("unload", function(){
			GUnload();
		});
	</script>
</head>

<body>
	<div id="wrapper">
		<div id="header">
			<h1 class="logo"><img src="partyicon.png" width="106" height="120" alt="Partyicon"></h1><span id="text">Where am I getting wasted today?</span>
	  </div>
	  
	  <div id="map" style="position: relative; height: 400px; width:100%;"></div>
	  
		<div id="play"><a href="#map" onclick="GoogleMap.togglePlay()">play/stop</a></div>
	  <div id="near"></div>
		<div id="footer">
			Another <a href="http://icreatesomethingcool.com">wasted time project</a> by <a href="http://twitter.com/mpo"><img src="http://s3.amazonaws.com/twitter_production/profile_images/54943469/ole-mpo_bigger.jpg" alt="MPO" height="15"/></a> and <a href="http://railslove.com"><img src="http://s3.amazonaws.com/twitter_production/profile_images/51980438/railslove_buddy.png" alt="Railslove" height="15"/></a> Built with the incredible <a href="http://sinatra.rubyforge.org/"><img src="http://sinatra.rubyforge.org/sinatra-logo.gif" alt="Sinatra" height="15"/></a><br />
		</div>
	</div>
</body>
</html>